<h1>
    Editar / Agregar
    héroe
    <small>Superman</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="heroForm" class="grid" (ngSubmit)="onSubmit()">
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Super Héroe</mat-label>
                        <input formControlName="superhero"  type="text" matInput required/>
                    </mat-form-field>
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Alter ego</mat-label>
                        <input formControlName="alter_ego"  type="text" matInput required/>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Primera Aparición</mat-label>
                        <input formControlName="first_appearance"  type="text" matInput required/>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Personajes</mat-label>
                        <input formControlName="characters"  type="text" matInput required/>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Creador</mat-label>
                        <mat-select formControlName="publisher" required>
                            <mat-option *ngFor="let publicher of publichers" [value]="publicher.id">
                                {{ publicher.desc }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Imagen alternativa</mat-label>
                        <input formControlName="alt_img"  type="text" matInput/>
                    </mat-form-field>
                </form>

                <div class="flex justify-content-between">

                    <button mat-flat-button color="warn">
                        Borrar
                    </button>

                    <!-- Se llama el metodo onSubmit aqui igual porque el boton esta fuera del formulario -->
                    <button mat-flat-button color="primary" (click)="onSubmit()">
                        Guardar
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 sm:col-6">
        <mat-card>
            <img src="" alt="Imagen del heroe" mat-card-image />
        </mat-card>
    </div>
</div>


